# Системные файлы и бэкапы
/bitrix/backup/
/bitrix/updates/
/bitrix/cache/
/bitrix/managed_cache/
/bitrix/stack_cache/
/bitrix/tmp/
/*.sql
/*.tar.gz
/*.zip

# Логи
*.log

/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/after_connect.php
/bitrix/php_interface/after_connect_d7.php

/upload/

/bitrix/templates/*
!/bitrix/templates/new_ucp/

/bitrix/components/*
/bitrix/modules/*
/ab_sajdfkasjhfjdflasjkhflaskfhlaskdfhasldhfaklsdjh/
/phpMyAdmin-5.2.1-all-languages-9b74c9897bac770ffc029102a200c5de/
/testFolder/
/bitrix/wizards/
/bitrix/tools/
/bitrix/services/
/bitrix/sounds/
/bitrix/otp/
/bitrix/activities/
/bitrix/components/
/bitrix/css/
/bitrix/blocks/
/bitrix/themes/
/bitrix/images/
/bitrix/panel/
/bitrix/404_logs/
/bitrix/admin/
/bitrix/fonts/
/bitrix/template/
/bitrix/gadgets/
/bitrix/modules/
/bitrix/legal/
/bitrix/js/
/webstat/
/webstat.off/
/tst/
/test2019/
/test/
/t/
