.text-caption {
    color: #535658;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
}
@media (min-width: 865px) {
    .home__feed,
    .news.slider {
        min-height: 650px;
    }
}