.event__item-date p strong {
	font-size: 18px !important;
}
.event__item {
	scroll-margin-top: 100px;
}
.event__item {
    position: relative;
}

.event__item-link {
    position: absolute;
    inset: 0;
    z-index: 1;
}

.event__item .text-block a {
    position: relative;
    z-index: 2;
}