.page__infop {
    /*text-indent: 15px;*/
    line-height: 0.85; /* уменьшенный межстрочный интервал */
}
.page__info p::first-letter {
  margin-left: 15px; 
}
.page__info a {
  text-indent: 0;
}
video, img {
  width: 100%;
}