html,
body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

html.preloader-active {
    overflow: hidden !important;
    height: 100%;
}

html.preloader-done {
    background: #ffffff !important;
    overflow: auto;
    height: auto;
    transition: background 0.8s ease 0.3s;
}

html.preloader-active body > :not(.fls-preloader) {
    opacity: 0;
    visibility: hidden;
}

html.preloader-done body>*:not(.fls-preloader) {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: 0.4s;
}