html,
body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

html.preloader-active {
    overflow: hidden !important;
    height: 100%;
}

html.preloader-done {
    background: #ffffff !important;
    overflow: auto;
    height: auto;
    transition: background 0.8s ease 0.3s;
}

html.preloader-active body {
    opacity: 0;
    visibility: hidden;
}

html.preloader-done body {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: 0.4s;
}

.news__slider {
    overflow: hidden;
}

.icon-menu-block, .icon-menu-block * {
    cursor: pointer;
}

.swiper {
    position: relative;

}

.swiper.preview-slider::after {
    z-index: 100;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #eceff1 25%, #f6f7f8 50%, #eceff1 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    display: block;
    opacity: 1;
    transition: all ease 3s;
}

.swiper.preview-slider.swiper-initialized::after {
    opacity: 0;
    z-index: -1;
}

.swiper::after {
    z-index: 100;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #eceff1 25%, #f6f7f8 50%, #eceff1 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    display: block;
    opacity: 1;
    transition: all ease 3s;
}

.swiper.swiper-initialized::after {
    opacity: 0;
    z-index: -1;
}

.universities__branches-slider.swiper::after {
    opacity: 0;
    z-index: -1;
}

.swiper:not(.swiper-initialized):not(.swiper-single-slide)::after {
    z-index: 100;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #eceff1 25%, #f6f7f8 50%, #eceff1 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    display: block;
    opacity: 1;
    transition: all ease 3s;
}

.swiper-initialized::after,
.swiper-single-slide::after {
    display: none !important;
    animation: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.swiper-control-hidden {
    display: none !important;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
html {
    height: initial !important;
}
html.popup-show {
    overflow-y: hidden;
}
.home__feed .home__feed-news-latest {
    min-height: 610px;
}
@media(max-width: 425px) {
    .home__feed .home__feed-news-latest {
        min-height: 590px;
    }
}
.page__image-slider-thumbs .swiper-wrapper {
    overflow: initial  !important;
}
@media (max-width: 500px) {
    .footer__slider-wrapper {
        padding-inline: 0;
    }
}
@media (max-width: 768px) {
    .home__feed-news-slider-info .text-caption {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
@media(max-width: 768px) {
    [class*=__container] {
        padding-left: 16px;
        padding-right: 16px;
    }
}
.footer__logo .mobile {
    display: block;

    width: 320px;
    height: auto;
}

@media (max-width: 599px) {
    .home__feed-event-list .home__feed-event-item:not(:first-child) {
        display: none;
    }
}

@media (max-width: 650px) {
    .news__list-item-img .icon {
        padding: 7px
    }
}
video, iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}
.swiper-single-slide::after {
    display: none !important;
    animation: none;
    opacity: 0;
}
.swiper:not(.swiper-initialized):not(.swiper-single-slide)::after {
    z-index: 100;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #eceff1 25%, #f6f7f8 50%, #eceff1 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    display: block;
    opacity: 1;
    transition: all ease 3s;
}
.swiper-control-hidden {
    display: none !important;
}
